**House Prices: Advanced Regression Techniques

This project is a compeition in Kaggle with initially 79 features for the residential homes in Ames, Iowa. The goal of this challenge is to predict the final price of each home.
As usual, data exploration, feature engineering are applied, then several machine learning models are built to predict the house price in the test set.

In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

%matplotlib inline

df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

Functions which are used in this project. They can also be reused in other projects.

In [71]:
# Returns a concatenated dataframe of training and test set on axis 0
def concat_df(train_data, test_data):
    return pd.concat([train_data, test_data], sort=True).reset_index(drop=True)

# Returns divided dfs of training and test set
def divide_df(all_data, sizeof_first):
    return all_data.loc[:sizeof_first-1,:], all_data.loc[sizeof_first:,:]    

# Onehot encoding function
def onehot_features(data, cols):
    multicols = data[cols]
    multicols = multicols.astype(str)
    one_hot = pd.get_dummies(multicols)
    return one_hot

# Feature scaling function
def scaling(data,cols):
    scaler = StandardScaler()
    scaled_data = pd.DataFrame(scaler.fit_transform(data), cols)
    return scaled_data

# Map categorical strings in the features to numbers
def map_category(series, mapping):
    digit_data = series.map(mapping)
    return digit_data

# Calculate the probability mass function for statistics
def pmf(series, b_normal):
    a = series.value_counts()
    if b_normal:
        a = a/a.sum()
    return a

Data Exploration

In [72]:
print(df_train.shape)
print(df_test.shape)

(1460, 81)
(1459, 80)

In [73]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [74]:
df_train.describe(include='all')

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
count,1460.000000,1460.000000,1460,1201.000000,1460.000000,1460,91,1460,1460,1460,...,1460.000000,7,281,54,1460.000000,1460.000000,1460.000000,1460,1460,1460.000000
unique,NaN,NaN,5,NaN,NaN,2,2,4,4,2,...,NaN,3,4,4,NaN,NaN,NaN,9,6,NaN
top,NaN,NaN,RL,NaN,NaN,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,Gd,MnPrv,Shed,NaN,NaN,NaN,WD,Normal,NaN
freq,NaN,NaN,1151,NaN,NaN,1454,50,925,1311,1459,...,NaN,3,157,49,NaN,NaN,NaN,1267,1198,NaN
mean,730.500000,56.897260,NaN,70.049958,10516.828082,NaN,NaN,NaN,NaN,NaN,...,2.758904,NaN,NaN,NaN,43.489041,6.321918,2007.815753,NaN,NaN,180921.195890
std,421.610009,42.300571,NaN,24.284752,9981.264932,NaN,NaN,NaN,NaN,NaN,...,40.177307,NaN,NaN,NaN,496.123024,2.703626,1.328095,NaN,NaN,79442.502883
min,1.000000,20.000000,NaN,21.000000,1300.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,1.000000,2006.000000,NaN,NaN,34900.000000
25%,365.750000,20.000000,NaN,59.000000,7553.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,5.000000,2007.000000,NaN,NaN,129975.000000
50%,730.500000,50.000000,NaN,69.000000,9478.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,6.000000,2008.000000,NaN,NaN,163000.000000
75%,1095.250000,70.000000,NaN,80.000000,11601.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,8.000000,2009.000000,NaN,NaN,214000.000000
max,1460.000000,190.000000,NaN,313.000000,215245.000000,NaN,NaN,NaN,NaN,NaN,...,738.000000,NaN,NaN,NaN,15500.000000,12.000000,2010.000000,NaN,NaN,755000.000000

In [75]:
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [76]:
# Extract the house prices to a new series
y_train = df_train['SalePrice']
df_train.drop('SalePrice', axis=1, inplace=True)

# Remove Id columns from both training and test set
df_train.drop('Id', axis=1, inplace=True)
df_test.drop('Id', axis=1, inplace=True)

# Check the data shape now
print(df_train.shape)
print(df_test.shape)
print(y_train.shape)

(1460, 79)
(1459, 79)
(1460,)

Check the null values in training set

In [77]:
df_nu = df_train.isnull().sum()

# Only list the features with null values for later processing
print(df_nu[df_nu > 0])

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

Check the null values in test set

In [78]:
df_nu = df_test.isnull().sum()

# Only list the features with null values for later processing
print(df_nu[df_nu > 0])

MSZoning           4
LotFrontage      227
Alley           1352
Utilities          2
Exterior1st        1
Exterior2nd        1
MasVnrType        16
MasVnrArea        15
BsmtQual          44
BsmtCond          45
BsmtExposure      44
BsmtFinType1      42
BsmtFinSF1         1
BsmtFinType2      42
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
BsmtFullBath       2
BsmtHalfBath       2
KitchenQual        1
Functional         2
FireplaceQu      730
GarageType        76
GarageYrBlt       78
GarageFinish      78
GarageCars         1
GarageArea         1
GarageQual        78
GarageCond        78
PoolQC          1456
Fence           1169
MiscFeature     1408
SaleType           1
dtype: int64

There are 4 features 'Alley','PoolQC','Fence','MiscFeature' with almost all null values. Merge training and test data first then remove the 4 features.

In [79]:
# Merge training and test set to process feature engineering together
df_all = concat_df(df_train, df_test)
print(df_all.shape)

(2919, 79)

In [80]:
df_all.drop(['Alley','PoolQC','Fence','MiscFeature'], axis = 1, inplace= True)

Initially fill in the null values for all features with null values above.

In [81]:
df_all['MSZoning'].fillna('RL', inplace=True) # test set only
df_all['LotFrontage'].fillna(df_all['LotFrontage'].mean(), inplace =True)       
df_all['Utilities'].fillna('AllPub', inplace=True) # test set only
df_all['Exterior1st'].fillna('VinylSd', inplace=True) # test set only
df_all['Exterior2nd'].fillna('VinylSd', inplace=True) # test set only
df_all['MasVnrType'].fillna('None', inplace=True) 
df_all['MasVnrArea'].fillna('0', inplace=True)

df_all['BsmtQual'].fillna('TA', inplace=True)
df_all['BsmtCond'].fillna('TA', inplace=True)
df_all['BsmtExposure'].fillna('No', inplace=True)
df_all['BsmtFinType1'].fillna('GLQ', inplace=True)
df_all['BsmtFinType2'].fillna('Unf', inplace=True)
df_all['BsmtFinSF1'].fillna('0', inplace=True) # test set only
df_all['BsmtFinSF2'].fillna('0', inplace=True) # test set only
df_all['BsmtUnfSF'].fillna(df_all['BsmtUnfSF'].median(), inplace=True) # test set only
df_all['TotalBsmtSF'].fillna(df_all['BsmtUnfSF'].median(), inplace=True) # test set only
df_all['BsmtFullBath'].fillna('0', inplace=True) # test set only
df_all['BsmtHalfBath'].fillna('0', inplace=True) # test set only

df_all['Electrical'].fillna('SBrkr', inplace=True) # training set only
df_all['KitchenQual'].fillna('TA', inplace=True) # test set only
df_all['Functional'].fillna('Typ', inplace=True) # test set only
df_all['FireplaceQu'].fillna('TA', inplace=True)
       
df_all['GarageType'].fillna('Attchd', inplace=True)
df_all['GarageYrBlt'].fillna(df_all['GarageYrBlt'].mean(), inplace=True)
df_all['GarageFinish'].fillna('RFn', inplace=True)
df_all['GarageCars'].fillna('2', inplace=True) #test set only
df_all['GarageArea'].fillna(df_all['GarageArea'].mean(), inplace=True) #test set only
df_all['GarageQual'].fillna('TA', inplace=True)
df_all['GarageCond'].fillna('TA', inplace=True)
 
df_all['SaleType'].fillna('WD', inplace=True) #test set only

# Make sure there is no null items
df_all.isnull().sum()

1stFlrSF         0
2ndFlrSF         0
3SsnPorch        0
BedroomAbvGr     0
BldgType         0
BsmtCond         0
BsmtExposure     0
BsmtFinSF1       0
BsmtFinSF2       0
BsmtFinType1     0
BsmtFinType2     0
BsmtFullBath     0
BsmtHalfBath     0
BsmtQual         0
BsmtUnfSF        0
CentralAir       0
Condition1       0
Condition2       0
Electrical       0
EnclosedPorch    0
ExterCond        0
ExterQual        0
Exterior1st      0
Exterior2nd      0
FireplaceQu      0
Fireplaces       0
Foundation       0
FullBath         0
Functional       0
GarageArea       0
                ..
LotArea          0
LotConfig        0
LotFrontage      0
LotShape         0
LowQualFinSF     0
MSSubClass       0
MSZoning         0
MasVnrArea       0
MasVnrType       0
MiscVal          0
MoSold           0
Neighborhood     0
OpenPorchSF      0
OverallCond      0
OverallQual      0
PavedDrive       0
PoolArea         0
RoofMatl         0
RoofStyle        0
SaleCondition    0
SaleType         0
ScreenPorch      0
Street           0
TotRmsAbvGrd     0
TotalBsmtSF      0
Utilities        0
WoodDeckSF       0
YearBuilt        0
YearRemodAdd     0
YrSold           0
Length: 75, dtype: int64

Now, handle several types of features in different ways:
1. Do one-hot encoding for categorical and norminal data
2. For categorical and ordinal data, map all values to numbers
3. Do normalization and scaling finally for all features - including both categorical data and regression data. It's not essential (optioanl) for tree related algorithms.

In [82]:
# Check the data summary so far
print(df_all.columns)
print(df_all.head())
print(df_all.shape)

Index(['1stFlrSF', '2ndFlrSF', '3SsnPorch', 'BedroomAbvGr', 'BldgType',
       'BsmtCond', 'BsmtExposure', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtFinType1',
       'BsmtFinType2', 'BsmtFullBath', 'BsmtHalfBath', 'BsmtQual', 'BsmtUnfSF',
       'CentralAir', 'Condition1', 'Condition2', 'Electrical', 'EnclosedPorch',
       'ExterCond', 'ExterQual', 'Exterior1st', 'Exterior2nd', 'FireplaceQu',
       'Fireplaces', 'Foundation', 'FullBath', 'Functional', 'GarageArea',
       'GarageCars', 'GarageCond', 'GarageFinish', 'GarageQual', 'GarageType',
       'GarageYrBlt', 'GrLivArea', 'HalfBath', 'Heating', 'HeatingQC',
       'HouseStyle', 'KitchenAbvGr', 'KitchenQual', 'LandContour', 'LandSlope',
       'LotArea', 'LotConfig', 'LotFrontage', 'LotShape', 'LowQualFinSF',
       'MSSubClass', 'MSZoning', 'MasVnrArea', 'MasVnrType', 'MiscVal',
       'MoSold', 'Neighborhood', 'OpenPorchSF', 'OverallCond', 'OverallQual',
       'PavedDrive', 'PoolArea', 'RoofMatl', 'RoofStyle', 'SaleCondition',
       'SaleType', 'ScreenPorch', 'Street', 'TotRmsAbvGrd', 'TotalBsmtSF',
       'Utilities', 'WoodDeckSF', 'YearBuilt', 'YearRemodAdd', 'YrSold'],
      dtype='object')
   1stFlrSF  2ndFlrSF  3SsnPorch  BedroomAbvGr BldgType BsmtCond BsmtExposure  \
0       856       854          0             3     1Fam       TA           No
1      1262         0          0             3     1Fam       TA           Gd
2       920       866          0             3     1Fam       TA           Mn
3       961       756          0             3     1Fam       Gd           No
4      1145      1053          0             4     1Fam       TA           Av

  BsmtFinSF1 BsmtFinSF2 BsmtFinType1  ... SaleType ScreenPorch Street  \
0        706          0          GLQ  ...       WD           0   Pave
1        978          0          ALQ  ...       WD           0   Pave
2        486          0          GLQ  ...       WD           0   Pave
3        216          0          ALQ  ...       WD           0   Pave
4        655          0          GLQ  ...       WD           0   Pave

  TotRmsAbvGrd  TotalBsmtSF Utilities WoodDeckSF YearBuilt YearRemodAdd  \
0            8        856.0    AllPub          0      2003         2003
1            6       1262.0    AllPub        298      1976         1976
2            6        920.0    AllPub          0      2001         2002
3            7        756.0    AllPub          0      1915         1970
4            9       1145.0    AllPub        192      2000         2000

   YrSold
0    2008
1    2007
2    2008
3    2006
4    2008

[5 rows x 75 columns]
(2919, 75)

Use one-hot encoding to handle categorical + norminal features below:
MSZoning
Street
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
Foundation
Heating
CentralAir
Electrical
Functional
GarageType
GarageFinish
MoSold
SaleType
SaleCondition

In [83]:
cols = ['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'Foundation', 'Heating', 'CentralAir', 'Electrical', 'Functional', 'GarageType', 'GarageFinish', 'MoSold', 'SaleType', 'SaleCondition']
onehot = onehot_features(df_all, cols)

# Drop the original features
df_all.drop(cols, axis = 1, inplace = True)

print(type(onehot))
print(onehot.shape)
print(df_all.shape)

df_all = pd.concat([df_all, onehot], axis=1)

print(df_all.shape)

<class 'pandas.core.frame.DataFrame'>
(2919, 191)
(2919, 48)
(2919, 239)

Map all the categorical ordianl features which the order of the values make sense and their values are not numerical below:
ExterQual
ExterCond
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
HeatingQC
KitchenQual
FireplaceQu
GarageQual
GarageCond
PavedDrive
PoolQC
Fence

The mappings can be determined by referring the data_description file which describes the meanings of each features.

In [84]:
mapping = {'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1, 'NA':0, 'Av':3, 'Mn':2, 'No':1}
df_all['ExterQual'] = df_all['ExterQual'].astype(str)
df_all['ExterQual'] = df_all['ExterQual'].map(mapping)
df_all['ExterCond'] = map_category(df_all['ExterCond'], mapping)
df_all['BsmtQual'] = map_category(df_all['BsmtQual'], mapping)
df_all['BsmtCond'] = map_category(df_all['BsmtCond'], mapping)
df_all['BsmtExposure'] = map_category(df_all['BsmtExposure'], mapping)
df_all['HeatingQC'] = map_category(df_all['HeatingQC'], mapping)
df_all['KitchenQual'] = map_category(df_all['KitchenQual'], mapping)
df_all['FireplaceQu'] = map_category(df_all['FireplaceQu'], mapping)
df_all['GarageQual'] = map_category(df_all['GarageQual'], mapping)
df_all['GarageCond'] = map_category(df_all['GarageCond'], mapping)

mapping = {'GLQ':6, 'ALQ':5, 'BLQ':4, 'Rec':3, 'LwQ':2, 'Unf':1, 'NA':0}
df_all['BsmtFinType1'] = map_category(df_all['BsmtFinType1'], mapping)
df_all['BsmtFinType2'] = map_category(df_all['BsmtFinType2'], mapping)

mapping = {'Y':2, 'P':1, 'N':0}
df_all['PavedDrive'] = map_category(df_all['PavedDrive'], mapping)

In [85]:
df_nu = df_all.isnull().sum()

# Make sure if there is no null value
print(df_nu[df_nu>0])

Series([], dtype: int64)

In [86]:
#df_all.to_csv(r'D:\ML\Kaggle projects\House Prices Advanced Regression Techniques\check None.csv')

# Check the data set dimensions so far again.
print(df_train.shape)
print(df_all.shape)
X_train, X_test = divide_df(df_all, df_train.shape[0])
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)

(1460, 79)
(2919, 239)
(1460, 239)
(1459, 239)
(1460,)

Scaling features

In [87]:
col = X_train.columns
X_train = X_train.astype(float)
scaler = StandardScaler()
X_train = pd.DataFrame(scaler.fit_transform(X_train), columns = col)

print(X_train.head())

col = X_test.columns
X_test = X_test.astype(float)
scaler = StandardScaler()
X_test = pd.DataFrame(scaler.fit_transform(X_test), columns = col)

   1stFlrSF  2ndFlrSF  3SsnPorch  BedroomAbvGr  BsmtCond  BsmtExposure  \
0 -0.793434  1.161852  -0.116339      0.163779 -0.038577     -0.631676
1  0.257140 -0.795163  -0.116339      0.163779 -0.038577      2.256363
2 -0.627826  1.189351  -0.116339      0.163779 -0.038577      0.331004
3 -0.521734  0.937276  -0.116339      0.163779  3.481550     -0.631676
4 -0.045611  1.617877  -0.116339      1.390023 -0.038577      1.293683

   BsmtFinSF1  BsmtFinSF2  BsmtFinType1  BsmtFinType2  ...  SaleType_ConLw  \
0    0.575425   -0.288653      1.116589     -0.314282  ...       -0.058621
1    1.171992   -0.288653      0.631549     -0.314282  ...       -0.058621
2    0.092907   -0.288653      1.116589     -0.314282  ...       -0.058621
3   -0.499274   -0.288653      0.631549     -0.314282  ...       -0.058621
4    0.463568   -0.288653      1.116589     -0.314282  ...       -0.058621

   SaleType_New  SaleType_Oth  SaleType_WD  SaleCondition_Abnorml  \
0     -0.301962     -0.045376     0.390293              -0.272616
1     -0.301962     -0.045376     0.390293              -0.272616
2     -0.301962     -0.045376     0.390293              -0.272616
3     -0.301962     -0.045376     0.390293               3.668167
4     -0.301962     -0.045376     0.390293              -0.272616

   SaleCondition_AdjLand  SaleCondition_Alloca  SaleCondition_Family  \
0              -0.052414             -0.091035             -0.117851
1              -0.052414             -0.091035             -0.117851
2              -0.052414             -0.091035             -0.117851
3              -0.052414             -0.091035             -0.117851
4              -0.052414             -0.091035             -0.117851

   SaleCondition_Normal  SaleCondition_Partial
0              0.467651              -0.305995
1              0.467651              -0.305995
2              0.467651              -0.305995
3             -2.138345              -0.305995
4              0.467651              -0.305995

[5 rows x 239 columns]

In [88]:
# TBD PCA

Discard polynomail features due to lack of data samples comparing number of features

In [89]:
from sklearn.model_selection import train_test_split

In [90]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge

poly = PolynomialFeatures(degree = 2).fit(X_train)
X_train_poly = poly.transform(X_train)
X_test_poly = poly.transform(X_test)

print(X_train_poly.shape)

X_train_t, X_test_t, y_train_t, y_test_t = train_test_split(X_train_poly, y_train, test_size = 0.3, random_state = 42)

# Apply Ridge (L2) to polynomial features
ridge = Ridge(alpha = 1000).fit(X_train_t, y_train_t)

print('Score of Polynomial Ridge on training set', ridge.score(X_train_t, y_train_t))
print('Score of Polynomial Ridge on test set', ridge.score(X_test_t, y_test_t))

(1460, 28920)
Score of Polynomial Ridge on training set 0.9967319384286493
Score of Polynomial Ridge on dev set 0.8147640120562797

In [91]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

X_train_t, X_test_t, y_train_t, y_test_t = train_test_split(X_train, y_train, test_size = 0.3, random_state = 42)

print(X_train_t.shape)
print(X_test_t.shape)



from sklearn.linear_model import LinearRegression



#print(X_train.dtypes)

#X_train.to_csv('X_train_final.csv')
#clf = LinearRegression()
#lr = clf.fit(X_train_t, y_train_t)
#print('Score of Linear Regression ', lr.score(X_test_t, y_test_t))

# TBD Try different alpha values and plot
ridge = Ridge(alpha = 1200).fit(X_train_t, y_train_t)
print('Score of Ridge on training set', ridge.score(X_train_t, y_train_t))
print('Score of Ridge on test set', ridge.score(X_test_t, y_test_t))

(1022, 239)
(438, 239)
Score of Ridge on training set 0.8678218443191563
Score of Ridge on dev set 0.8561071282877735

Implement KNN. KNN is simple with only one parameter for tuning (k) so often be used for baseline for ML computing. However, it's not good for this case as KNN does not perform well on datasets with many features.

In [92]:
from sklearn.neighbors import KNeighborsClassifier 

clf = KNeighborsClassifier(n_neighbors = 100)
knn = clf.fit(X_train_t, y_train_t)
print('Score of knn on training set', knn.score(X_train_t, y_train_t))
print('Score of knn on test set', knn.score(X_test_t, y_test_t))

Score of knn on training set 0.043052837573385516
Score of knn on dev set 0.00684931506849315

As expected, the performace result is poor for KNN. Therefore, it won't be applied and just for reference here.

Implement Tree algorithms

In [93]:
print(X_train_t.shape)
print(X_train_t.head())

(1022, 239)
      1stFlrSF  2ndFlrSF  3SsnPorch  BedroomAbvGr  BsmtCond  BsmtExposure  \
135   1.343941 -0.795163  -0.116339      0.163779 -0.038577     -0.631676
1452 -0.234508 -0.795163  -0.116339     -1.062465 -0.038577      2.256363
762  -1.031495  0.999149  -0.116339      0.163779 -0.038577      0.331004
932   1.920981 -0.795163  -0.116339      0.163779  3.481550     -0.631676
435  -0.868475  1.116020  -0.116339      0.163779 -0.038577      1.293683

      BsmtFinSF1  BsmtFinSF2  BsmtFinType1  BsmtFinType2  ...  SaleType_ConLw  \
135    -0.973018   -0.288653     -1.308612     -0.314282  ...       -0.058621
1452    0.226696   -0.288653      1.116589     -0.314282  ...       -0.058621
762    -0.920380   -0.288653      1.116589     -0.314282  ...       -0.058621
932    -0.973018   -0.288653     -1.308612     -0.314282  ...       -0.058621
435    -0.128612    1.844495      1.116589      4.285742  ...       17.058722

      SaleType_New  SaleType_Oth  SaleType_WD  SaleCondition_Abnorml  \
135      -0.301962     -0.045376     0.390293              -0.272616
1452     -0.301962     -0.045376     0.390293              -0.272616
762      -0.301962     -0.045376    -2.562180              -0.272616
932      -0.301962     -0.045376     0.390293              -0.272616
435      -0.301962     -0.045376    -2.562180              -0.272616

      SaleCondition_AdjLand  SaleCondition_Alloca  SaleCondition_Family  \
135               -0.052414             -0.091035             -0.117851
1452              -0.052414             -0.091035             -0.117851
762               -0.052414             -0.091035             -0.117851
932               -0.052414             -0.091035             -0.117851
435               -0.052414             -0.091035             -0.117851

      SaleCondition_Normal  SaleCondition_Partial
135               0.467651              -0.305995
1452              0.467651              -0.305995
762               0.467651              -0.305995
932               0.467651              -0.305995
435               0.467651              -0.305995

[5 rows x 239 columns]

In [94]:
from sklearn.ensemble import RandomForestRegressor

clf = RandomForestRegressor(max_depth = 20, random_state = 42, n_estimators = 100)
rf = clf.fit(X_train_t, y_train_t)
print('Score of Kernel Random Forest on training set', rf.score(X_train_t, y_train_t))
print('Score of Kernel Random Forest on test set', rf.score(X_test_t, y_test_t))

Score of Kernel Random Forest on training set 0.9765000156191826
Score of Kernel Random Forest on dev set 0.8988459343986092

In [97]:
# Compare predictions on test samples
pred = rf.predict(X_test_t)
print(pred.shape)
print(pred)

print(y_test_t)

(438,)
[141655.08333333 319998.83       118422.         151426.34
 322121.11        82897.         208848.00666667 150996.
  82791.         129122.87       153173.94166667 120767.27380952
 107345.5        208274.39       178771.95909091 129440.375
 191172.83484848 135420.94642857 118305.26321429 204295.88
 162433.38285714 233576.56       173044.86909091 120455.29
 194477.49666667 166873.22       184148.195      105433.5
 180524.17909091 198176.09       123056.53       249421.63
 184394.66       112350.08035714 255148.4        149800.18333333
 138964.49285714 202156.085      297469.96       108273.
 122872.2        237198.53       120009.73809524 359802.49
 136408.6        134628.03       117088.         127890.35714286
 384766.45       143373.14       120886.6875     194083.28
 120450.47       348625.84       139841.         242274.90285714
 197972.         149649.45       146689.07       109839.
  77462.         145829.6        303019.49       279497.38
 292824.62       205145.         112921.46428571 308417.59
 117214.25       164573.63       130517.01885714 128553.58333333
 111866.97619048  95062.54       453927.02       172379.08
 304071.93       303646.42       136682.35416667 124869.29428571
 103072.5        100398.5        128163.         105172.04
 156415.72       129938.91       255780.2        197868.54
 141704.5        180043.9        139815.89       156844.66
 123030.25       261406.77       125892.995      173589.19
 167716.05       163375.32       223332.93       250400.45
 187572.28       210517.1        266673.67       146463.25
 184971.5        160137.5        143723.4        279541.23
 143178.77692308 186573.95        58067.         129149.75
 136095.75       131827.51       220375.1        114862.
 107411.92559524 108750.         142961.04666667 287099.53
 154169.55       143180.5        180939.52909091 186197.5
 174132.04       131046.46428571 241587.86       113057.5
 141244.75       184532.5        189542.98       364125.14
 206959.65       139910.33        79914.5        331663.49
 406348.33       126708.17142857 239781.06       588330.44
 324886.82       123034.75       177759.4        160870.87666667
 135223.5        126427.64       221571.91       195658.38
 129741.          76564.5        109488.66666667 141208.55
 213778.96       142704.04564103 102159.         149238.11
 138690.5        145640.32        88160.         133258.75
 236434.48       151164.03       302629.55       153119.82
 118743.95604396 119229.13       198014.83       329070.66
 399997.22       233202.02       354061.92        95410.
 124637.91       156633.81       320931.78       150953.89
 132705.5        206402.6        118182.11809524 170093.90909091
 165921.75       102716.         137260.99428571 139324.87
 267363.35       151458.84       282914.77       210162.38
 192863.58833333  88605.5        125835.5        115983.07142857
 120474.58428571 145087.5        186485.62       156834.85
 234589.65818182  95919.58       210500.8        111722.65142857
 225185.63       182366.14166667 128933.59       313175.65
 191291.05       127473.         241610.38       141393.58333333
 144695.90285714 110372.36080586 241591.28       145121.66666667
 123504.         162641.57       175265.395      265202.66
 188113.625      140927.26666667 127996.         147123.1
 136227.         236191.79       201191.         103718.25
 233908.77       145695.20454545 108722.64285714 109441.16666667
 165402.37       107075.57142857 104198.5        180550.45
 121346.25       135952.75       227825.4        137113.53
 194994.8        145053.57692308 243577.4        119381.04545455
 121562.         242662.51       212301.00166667 402643.38
 186253.4        132833.5        156455.59       156741.4
 142028.7        109036.2914985  181050.41       170315.66
 139179.12516484 100120.5        145589.5        146277.04
 115791.58       110071.5        176881.40909091 269641.02
 307194.49       161104.24666667 126081.75       227833.06
 263491.44       202888.66       170449.05       140434.
 117664.2        168614.94       359501.31       211910.71
 237007.3        110248.         100955.         140351.8
 135082.95       317322.89       193835.         146017.68
 209165.04        99253.33       188685.28571429 114994.75
 326012.66       171582.1        226423.78       117594.91333333
 239446.07       174359.48166667 134761.87       116037.5
 142500.66666667 172482.41909091 109673.25       151596.26
 138786.89230769 133771.7        179155.51       112391.
 178825.3        235765.17       118828.         151754.
 180616.2        202271.2        163974.20454545 207371.92
 205514.6        122206.5        160763.87       197025.
  96980.         150814.05       134779.34230769 170265.81909091
 185997.13571429 163594.08       261866.3         93809.5
 226604.71       135637.45       118729.17261905  95510.
 190838.03       177160.84       137015.1        193632.41818182
 177268.5        106919.91666667 155753.9        151782.5
 124207.87       187108.41       162715.2        135212.6
 126477.5        115570.53        89568.5        216344.8
 183663.61       128809.         139156.1        171543.61
 218594.22       330700.77       347920.94       119287.
 212130.3        116026.5        328633.95       380472.26
 308248.62       174334.26       247103.96       134848.
 130140.          97674.58       206193.81818182 340547.41
 191973.1        123509.93333333 268930.71       222274.58
 137787.87121212 188151.24166667 161337.4        112032.
 137769.39       151491.45       117494.4047619  179777.20909091
 125953.94       222610.42       164811.30666667 123970.28285714
 203314.4        204786.2         97284.         202008.5
 148020.41692308 184922.5        188240.05909091 154153.5
 143093.00285714 227828.09       140602.45       119400.45
 286934.82       177339.86666667 114499.71130952 162876.43285714
 141874.8        345432.53       150354.99285714 384448.74
 121934.70666667 181234.95       166753.52692308 132024.64
 170016.67       333821.82       132899.43       149932.83333333
 136106.         103077.         201983.11       143742.04
 219193.59       207682.83       210850.95       208858.56
  83440.         323365.4        142811.75       365240.66
 120526.5        353504.71       282626.65       135154.
 226204.15       252911.82       207463.58       174165.88285714
 268042.69       135254.27       207861.49       169263.72
 181075.02818182 234103.34       121748.96428571 141051.
 197338.78       137111.93333333 126845.5        192978.34571429
 135414.9        425245.32      ]
892     154500
1105    325000
413     115000
522     159000
1036    315500
614      75500
218     311500
1160    146000
649      84500
887     135500
576     145000
1252    130000
1061     81000
567     214000
1108    181000
1113    134500
168     183500
1102    135000
1120    118400
67      226000
1040    155000
453     210000
670     173500
1094    129000
192     192000
123     153900
415     181134
277     141000
433     181000
1317    208900
         ...
621     240000
1157    230000
1322    190000
704     213000
1323     82500
199     274900
493     155000
664     423000
1339    128500
1058    335000
1187    262000
10      129500
147     222500
764     270000
282     207500
298     175000
918     238000
291     135900
819     224000
573     170000
1454    185000
549     263000
462      62383
129     150000
845     171000
331     139000
323     126175
650     205950
439     110000
798     485000
Name: SalePrice, Length: 438, dtype: int64
(438,)

In [101]:
pred = rf.predict(X_test)